.mobile-menu_active {
  left: 0;
  animation: move 1s ease-in-out;
  box-shadow: 2px 5px 15px rgba(26, 31, 39, 0.12), 10px 15px 40px rgba(26, 31, 39, 0.08);
}

@keyframes move {
  0% {
    left: -375px;
    width: 375px;
  }
  35% {
    left: 0px;
    width: 475px;
  }
  70% {
    left: 0px;
    width: 275px;
  }
  100% {
    left: 0;
    width: 375px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu_active {
    left: 0;
    animation: none;
    box-shadow: none;
  }
}