.slider__image_reverse-appearing {
  opacity: 1;
  animation: reverse-appearing .5s forwards linear;
}

@keyframes reverse-appearing {
  0% {
    top: -400px;
    left: -400px;
    opacity: 0;
    transform: rotate(45deg);
  }
  50% {
    top: -100px;
    left: -200px;
    transform: rotate(25deg);
  }
  100% {
    top: 0;
    right: 0;
  }
}