.slider__wrapper {
  background-image: url(../../../images/Slider-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 494px;
  height: 523px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .slider__wrapper {
    width: 354px;
    height: 375px;
  }
}