.mobile-menu {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 21px;
  padding-top: 29px;
  position: fixed;
  left: -375px;
  top: 0;
  transition: left .5s;
  width: 375px;
  z-index: 2;
  box-sizing: border-box;
}