.slider__buttons {
  align-self: flex-end;
  margin-right: 150px;
  display: flex;
  gap: 69px;
}

@media screen and (max-width: 768px) {
  .slider__buttons {
    margin-right: 41px;
    gap: 42px;
  }
}