.slider__image_reverse-disappearing {
  opacity: 1;
  animation: reverse-disappearing .5s forwards linear;
}

@keyframes reverse-disappearing {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: -100px;
    right: -200px;
    transform: rotate(-25deg);
  }
  100% {
    top: -400px;
    right: -400px;
    opacity: 0;
    transform: rotate(-45deg);
  }
} 